<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dealermela">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        tools:replace="android:allowBackup"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/WhiteTheme.FullScreen"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".inventary.activity.InvoiceListAct"></activity>
        <activity
            android:name=".inventary.activity.InventoryListAct"
            android:screenOrientation="fullSensor" />
        <activity android:name=".inventary.activity.InventoryFilterAct"></activity>
        <activity
            android:name=".order.activity.OrderPrintAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".other.activity.ContactUsAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".home.activity.PopularProductAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".other.activity.SearchAct"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:name=".cart.activity.SelectAddressAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".order.activity.OrderDetailAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".my_stock.activity.MyStockAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".cart.activity.OrderSummaryAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".cart.activity.ShippingChargeAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".order.activity.OrderTabActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".listing_and_detail.activity.FullProductDetailImageAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".download.activity.DownloadAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".cart.activity.CartAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".transaction.activity.TransactionAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".listing_and_detail.activity.FilterAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".listing_and_detail.activity.ProductDetailAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".listing_and_detail.activity.ListAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".other.activity.PolicyAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".referral.activity.CreateReferralAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".referral.activity.ManageReferralAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".authentication.myaccount.activity.ManageBankAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".authentication.myaccount.activity.ManageAddressAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".authentication.myaccount.activity.TermsConditionAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".authentication.myaccount.activity.EditAddressAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".authentication.myaccount.activity.EditContactInfoAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".other.activity.SplashAct"
            android:label="@string/app_name"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.myaccount.activity.LoginAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".home.activity.MainActivity"
            android:label=""
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".authentication.myaccount.activity.ForgotPasswordAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".authentication.myaccount.activity.EditProfileAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".authentication.myaccount.activity.SignUpAct"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ccavenue.activity.InitialScreenActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ccavenue.activity.WebViewActivity"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".ccavenue.activity.StatusActivity"
            android:screenOrientation="fullSensor" />
        <activity android:name=".inventary.activity.PaymentListAct" />
        <activity android:name=".inventary.activity.ProductListAct" />
        <activity android:name=".inventary.activity.QuotationListAct" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f2e3b7adc560f7def2b1126969c387485bc43cdc" />
    </application>

</manifest>